h1 {
	font-size:  64px;
	text-align: center;
}

/* 머리말 */
h3 {
	margin-top: 100px;

}

p i {
	font-size: 48px;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.first-text {
	font-size: 100px;
	color: blue;
	text-align: center;
}

.second-text {
	font-size: 200px;
	color: red;
}

#best-text {
	font-size: 100px;
	color: orange;
	text-align: center;
}

.text-around {
	background-color: #eee;
	border-radius: 20px;
	margin-bottom: 50px;
	padding: 50px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}